* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    overflow-x: hidden;
}

.cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: royalblue;
    box-shadow: 0 0 15px #ffffff9c;
    animation: changeColor 5s ease infinite;
}

@keyframes changeColor {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg)
    }
}